In [3]:
import pandas as pd

In [10]:
data = {'Name' : ['A', 'B', 'C', 'D', 'E'],
        'Age'  : [1,2,3,4,5] }
print(data)

{'Name': ['A', 'B', 'C', 'D', 'E'], 'Age': [1, 2, 3, 4, 5]}

In [33]:
df = pd.DataFrame(data)
print(df)
print(df[['Name']])
#print(df['Name'])

print(df.loc[1])

del df['Age']
print(df)

df.insert(1, 'name2', df['Name'])
print(df)


newcols = {
    'Name': 'name',
    'Age': 'age'
}

df.rename(columns=newcols, inplace = True)
print("- ",df)

  Name  Age
0    A    1
1    B    2
2    C    3
3    D    4
4    E    5
  Name
0    A
1    B
2    C
3    D
4    E
Name    B
Age     2
Name: 1, dtype: object
  Name
0    A
1    B
2    C
3    D
4    E
  Name name2
0    A     A
1    B     B
2    C     C
3    D     D
4    E     E
-    name name2
0    A     A
1    B     B
2    C     C
3    D     D
4    E     E

In [41]:
# Data frame numpy array
import numpy as np

data = np.array([['', 'col1', 'col2'],
                 ['Row1',1,2],
                 ['Row2',3,4]])

df = pd.DataFrame(data=data[1:,1:],
                 index=data[1:,0], #leave '' so it starts from 1:, same below
                 columns=data[0,1:])

df.set_index('col2')
print(df)

my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(pd.DataFrame(my_2darray))

print(pd.DataFrame(data = [[8,7,9,6], [8,7,9,6]]))

     col1 col2
Row1    1    2
Row2    3    4
   0  1  2
0  1  2  3
1  4  5  6
   0  1  2  3
0  8  7  9  6
1  8  7  9  6

In [42]:
##plotting using html

data = {'sen1': [1,2,3,4,5,6,7,8,9,10],
        'sen2': [11,12,13,14,15,16,17,18,19,20],
        'sen3': [21,22,23,24,25,26,27,28,29,30]}

df = pd.DataFrame(data)
print(df)

def html_plot_of_data(df):
    return Template()





_HTML_TEMPLATE_="""<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
    <head>
    <script src="https://cdn.plot.ly/plotly-2-9-0-min.js"></script>
    <script src="index.js"></script>
    <script>
        window.onload = () =>{
            var timeline = $timeline;
            $traces
            var layout = {
                $subplots,
                showlegend: true,
            };
            plotly.newPlot(document.getElementById('diag'),[$data], layout);
            var options = "";
            
        }
"""

   sen1  sen2  sen3
0     1    11    21
1     2    12    22
2     3    13    23
3     4    14    24
4     5    15    25
5     6    16    26
6     7    17    27
7     8    18    28
8     9    19    29
9    10    20    30